@font-face {
  font-family: "KFGQPCHAFSUthmanicScript-Regula";
  src: url("UthmanicHafs1Ver13.eot");
  src: url("UthmanicHafs1Ver13.eot?#iefix") format("embedded-opentype"),
    url("UthmanicHafs1Ver13.otf") format("opentype"),
    url("UthmanicHafs1Ver13.svg") format("svg"),
    url("UthmanicHafs1Ver13.ttf") format("truetype"),
    url("UthmanicHafs1Ver13.woff") format("woff"),
    url("UthmanicHafs1Ver13.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}